/*
Especificidad CSS
1. !important
2. Atributo Style
3. Selectores
3.1 Selectores por ID
3.2 Selectores de clase, atributos y pseudo clases
3.3 Selector de tipo y pseudo elementos

Unidades de Medidas

1.Absolutas: tienen el mismo valor sin importar donde se defina, la resolucion de la pantalla , ni ningun otro valor externo. Ej: px , cm, mm, pc , pt

2.Relativas: su valor final asignado es relativo a diferentes factores, resolucion,contenedores, etc. Ej: 
2.1.Porcentaje: relativo al tamano del contenedor,
2.2.ems: relativos al tamano de la fuente del contenedor x2  
2.3.exs: relativos al tamano del alto de la letra x en minuscula de la fuente que tengamos en el momento 
2.4.rems: utilizan la fuente de la raiz del documento(HTML)

3. Relativas al Viewport: 
3.1 VW: cada unidad es 1% del ancho del viewport
3.2 VH: cada unidad es 1% del alto del viewport
3.3.Vmin: 1% del ancho o del alto , dependiendo de cual sea mas pequena
*/


body
{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}

.container
{
  background: #4A0C68;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #181C88, #4A0C68);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #181C88, #4A0C68); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content
{
  max-width: 960px;
  max-height: 500px;
  width: 100%;
  height: 80%;
  background-color: white;
  /*box-shadow:Horizontal,vertical,desenfoque y amplitud*/
  box-shadow: 5px 5px 6px 1px black;
  border-radius: 5px;
  position: relative;
  padding: 1.8em;
  overflow: scroll;

}

.content
{
  padding:1em;
}
td
{
  display: block;
  width: 100%;
}
td:nth-of-type(1)
{
  font-size: 1.5em;
  font-weight: bold;
  color: #4A0C68;
}
th
{
  display: none;
}

.actions
{
  position: absolute;
  top: 1em;
  right: 1em;
}

.close
{
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  background-color: #c6426e;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainHeader
{
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #c6426e;
  text-align: center;
  line-height: 2em;
}

header
{
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #c6426e;
  line-height: 1em;
}

#interlineado
{
  line-height: 2em;
}

td
{
  border: solid 1px;
}

a
{
  text-decoration: none;
}

a:hover
{
  opacity: 0.8;
}

.tittle
{
  text-transform: uppercase;
  
}

.text
{
  line-height: 2em;
}

.table
{
  width: 100%;
  border-spacing: 0;
}

.table td, .table th
{
  padding: 1em;
  text-align: left;
  border: none;
}

.table tr:nth-child(even)
{
  background-color: #f3e5f5;
}

.fa-star
{
  color: #fcc400;
}

.title-item
{
  padding-bottom: .5em;
 
}

.position
{
  background-color: #c6426e;
  color: white;
  padding: 0.5em;
  border-radius: 4px;
  margin-right: .5em;
  font-size: 2em;
  line-height: 3em;
}

h2
{
  display: inline-block;
}

.main-image
{
  float: left;
  margin-right: 2em;
}

img
{
  max-width: 100%;
}

.disabled
{
  pointer-events: none; 
  cursor: default; 
}


@media(min-width:900px)
{
  th
  {
    display: table-cell;
  }
  td
  {
    display: table-cell;
    width: auto;
  }
  td:nth-of-type(1)
  {
    font-size: 1em;
  }
  .content
  {
    padding: 1.8em;
  }
}

@media (min-height:550px)
{
  .content
  {
    height: 500px;
  }
}